@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i,800");
/* prprietà generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  color: #333333;
  font: 1.4em/1.8 "EB Garamond", serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #2980b9, #6dd5fa);
}

@media (max-width: 37.5rem) {
  body {
    font-size: 1.2em;
  }
}

h1 {
  line-height: 1;
  font-weight: 600;
  font-style: italic;
  opacity: 0.75;
}

/* prprietà grid  */

.contenitore {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-flow: dense;
}

.elemento {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
}

.elm1 {
  grid-column: 1 / span 3;
  grid-row: 1 / 3;
}




/*  .foto{
    overflow: hidden;
    background: linear-gradient(38deg, #000428);
    border-radius: 10px;
    display: block;
    opacity: 0.6;
     filter: grayscale(100%); 
    height: 100%;
    object-fit: cover;
    object-fit: center top;
}  */

.foto {
  overflow: hidden;
  background: linear-gradient(38deg, #000428);
  border-radius: 10px;
  display: block;

  height: 100%;
  object-fit: cover;
  object-position: center;
}

.elm2 .foto {
  object-position: left;
  opacity: 0.6;
  filter: grayscale(100%);
}
